body {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > div.container-titulo{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

body > .container-titulo > i{
  color: rgb(52, 103, 232);
}
.carregaArquivo {
  border-radius: 20px;
  width: 50%;
  height: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.carregaArquivo .form-control{
    width: 100%;
}
.carregaArquivo .bttEnviar{
    width: 30%;
    border-radius: 30px;
    border: none;
    height: 2rem;

    background-color: rgb(52, 103, 232);
    color: white;
}